* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body {
    background-color: #000000;
}

#post {
    width: 400px;
    background: white;
    margin: auto;
    margin-top: 20px;
}


#heading {
    display: flex;
    align-items: center;
    padding: 10px;
}

#title {
    margin-left: 10px;
}

#menu {
    margin-left: auto; 
    margin-right: 5px;
}

#img img {
    width: 100%;
    height: auto;
}


#icons {
    padding: 12px;
    font-size: 22px;
    display: flex;
    gap: 12px; 
}

#icons #i2 {
    margin-left: auto;
}

#feed, #comment {
    padding: 12px;
}
